$breakpoints:(sm: 540px,
    md: 768px,
    xl: 1200px,
);

@mixin media-up($breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

.nav__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1220px;
    height: 100%;

    .nav__icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .nav__icons-item {
            width: 1.5em;
            height: 1.5em;

            img {
                width: 100%;
                height: 100%;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .nav__icons-title {
            font-size: 1em;
            font-weight: 600;
            padding: 0;
        }
    }

    .nav__create{
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        width: 100%;
        margin: 1.5em 0;

        @include media-up(sm) {
            margin: 3em 0;
        }

        @include media-up(md) {
            margin: 2em 0;
        }

        .nav__create-txt {
            font-size: 1em;
            font-weight: 500;
            color: #f4b600;
        }
    }

    .nav__list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .nav__list-item{
            font-size: .85em;
            font-weight: 600;
            padding-right: .7em;
            cursor: pointer;
            
            &.selected{
                font-size: .9em;
                color: #f4b600;
                border-bottom: .15em solid #f4b600;
            }
        }
    }
}